body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #646262;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: #812020;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    background-color: #ffffff;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
}

.display input {
    width: 100%;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: right;
    padding: 10px 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #172b9b;
    background-color: #5bc41e;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #ffffff;
}

button:active {
    background-color: #f8f8f8;
    color: #000000;
}

.btn-orange {
    background-color: orange;
    color: #ffffff;
}

.btn-black {
    background-color: black;
    color: #ffffff;
}
